<div id="<%= dom_id celebrity %>">
  <p>
    <strong>Name:</strong>
    <%= celebrity.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= celebrity.value %>
  </p>

  <p>
    <strong>App:</strong>
    <%= celebrity.app_id %>
  </p>

</div>
